$topbar-sticky-shrink-padding: rem-calc(20 0); // controls the un-stuck height of topbar
$topbar-sticky-shrink-padding-stuck: 1rem; // controls the is stuck height of topbar

body {
  &.page, &.blog, &.single {
    #maincontent {
      margin-top: rem-calc(75);
      .grid-x {
        .cell {
          @include xy-gutters(
            $gutters: 50,
            $gutter-type: padding
          );
        }
      }
    }
  }  
  &.home {
    #maincontent {
      margin-top: 0;
    }
  }
}

h1, h2, h3 {
  font-weight: 700;
}

h1, h2 {
  margin-bottom: rem-calc(20);
}
h2 {
}
h3 {
  color: $primary-color;
}
h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

p, li {
  font-size: rem-calc(15);
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  background: $medium-gray;
  height: rem-calc(7);
  margin: rem-calc(70 0 30); 
}

blockquote {
  border-left: 0;
  background: #deeaed;
  padding: rem-calc(25 200);
  margin-top: rem-calc(20);
  @include breakpoint(small only) {
    padding: rem-calc(20);
  }
  p {
    color: $black;
    text-align: center;
    font-size: rem-calc(18);
    font-weight: 400;
    font-style: italic;
    margin-bottom: 0;
  }
}

.intro {
  font-size: rem-calc(19);
  margin-bottom: rem-calc(30);
}

.button {
  &.normal {
    background: $secondary-color;
    color: $white;
    font-size: rem-calc(14);
    font-weight: 600;
    padding: rem-calc(15 40);
    //font-family: "Open Sans", serif;
    font-family: "Helvetica Neue", Arial, serif;
    border-radius: rem-calc(5);
    &:hover,&:focus {
      background: $primary-color;
    }
  }
}
.learn-more {
  @include button(
    $style : 'hollow' 
    );
    color: $white;
    font-weight: 600;
    border-radius: rem-calc(5);
    border: $white solid 2px;
    margin-bottom: 0;
    &:hover,&:focus {
      background: $success-color;
      border: $success-color solid 2px;
    }
}

.read-on {
  font-weight: 600;
}

.topbar-search {
  @include breakpoint(medium down) {
    display: none;
    position: absolute;
    right: 0;
    z-index: 100;
  }
  .search-box {
    @include breakpoint(medium down) {
      position: absolute;
      right: rem-calc(20);
      top: rem-calc(25);
      z-index: 100;
    }
    input[type="text"] {
      color: #555555;
      font-size: rem-calc(15);
      height: rem-calc(34);
      border-radius: rem-calc(5);
      width: rem-calc(230);
      padding: rem-calc(12);
      border: none;
      //font-family: "Open Sans", serif;
      font-family: "Helvetica Neue", Arial, serif;
      margin-right: 0;
      @include breakpoint(medium down) {
      }
    }
    input[type="submit"] {
      display: none;
    }
  }
}



$topbar-responsive-animation-type: fade-in; // or use slide-down or none
.sticky-container {
  //background: $primary-color;
}
.title-bar {
  background: $primary-color;
  padding: rem-calc(24 30);
  z-index: 100;
  @include breakpoint(medium down) {
    padding: rem-calc(16 30);
  }
  @include breakpoint(small only) {
    padding-right: rem-calc(15);
  }
  .title-bar-title {
    margin-right: rem-calc(50);
    @include breakpoint(medium down) {
      margin-right: 0;
    }
    img {
      @include breakpoint(medium down) {
        width: rem-calc(120);
      }
    }
  } 
  .title-bar-left {
    flex: 1 0 auto;
    &.top-menu {
      @include breakpoint(medium down) {
        display: none;
      }
      #main-menu {
        li {
          //font-family: "Open Sans", serif;
          font-family: "Helvetica Neue", Arial, serif;
          text-transform: uppercase;
          font-weight: 600;
          font-size: rem-calc(12);
          a {
            color: $white;
            padding: rem-calc(15 15);
            &:hover, &:focus {
              color: $menu-active;
            }
          }
          &.current-menu-item, &.current_page_parent {
            a {
              color: $menu-active;
            }
          }
          ul.submenu {
            position: absolute;
            top: 40px;
            background: $white;
            width: rem-calc(215);
            -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
            box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
            li {
              a {
                padding: rem-calc(12 15);
                color: $dark-gray;
                &:hover, &:focus {
                  background: $light-gray;
                }
              }
            }
          }
        }
      }
    }

  }
  .title-bar-right {
    &.mobile-icons {
      .mobile-menu {
        display: none;
        @include breakpoint(medium down) {
          display: inline-block;
        }
      }
      .mobile-icon,
      .search-icon {
        color: $white;
        padding: rem-calc(0 10);
      }
      .mobile-icon {
      }
      .search-icon {
        cursor: pointer;
      }
    }
  }
}

//offcanvas menu
.off-canvas-wrapper-inner {
  .off-canvas {
    background: $primary-color;
  }
  #off-canvas-menu {
    margin-top: rem-calc(20);
    li {
      //font-family: "Open Sans", serif;
      font-family: "Helvetica Neue", Arial, serif;
      font-size: rem-calc(14);
      text-transform: uppercase;
      font-weight: 600;
      a {
        color: $white;
        &:hover, &:focus {
          color: $menu-active;
        }
      }
      ul.submenu {
        li {
          a {
            padding-left: rem-calc(40);
          }
        }
      }
    }
  }
}

.news-wrapper {
  .cell {
    padding-bottom: rem-calc(30);
  }
}

.media-object-section {
  &:first-child {
    padding-right: 0;
  }
  .thumbnail {
    padding-right: rem-calc(20);
    img {
      width: rem-calc(250);
    }
  }
  &:nth-last-child(1) {
    padding-right: rem-calc(40);
  }
}

.date-posted {
  font-size: rem-calc(13);
  color: $dark-gray;
  font-weight: 600;
}

.backtopage {
  font-weight: 600;
}

#frontbanner {
  height: 600px;
  position: relative;
  .text-overlay {
    position: absolute;
    z-index: 1;
    left: 10%;
    width: rem-calc(610);
    bottom: rem-calc(40);
    background: rgba(24,97,174, 0.6);
    padding: rem-calc(30 40);
    @include breakpoint(medium down) {
      left: 0;
      width: 100%;
      margin-left: 0;
    }
    h2,p {
      color: $white;
      font-weight: 600;
    }
    h2 {
      font-size: rem-calc(45);
      line-height: 1.2;
      margin-bottom: 25px;
      font-weight: 700;
    }
    p {
      font-size: rem-calc(25);
      margin-bottom: 0;
    }
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: 0;
  }
}

#full-column {
  .grid-x {
    .cell {
      @include breakpoint(medium ony) {
        @include xy-gutters(
          $gutters: 50,
          $gutter-type: padding
        );
      }
      @include breakpoint(small ony) {
        @include xy-gutters(
          $gutters: 60,
          $gutter-type: padding
        );
      }
    }
  }    
}

#full-column-background {
  margin-top: rem-calc(50);
  //margin-bottom: rem-calc(50);
  background: #1b93cb; /* Old browsers */
  background: -moz-linear-gradient(left, #1b93cb 0%, #1b93cb 50%, #1861ae 50%, #1861ae 50%, #1861ae 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1b93cb 0%,#1b93cb 50%,#1861ae 50%,#1861ae 50%,#1861ae 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1b93cb 0%,#1b93cb 50%,#1861ae 50%,#1861ae 50%,#1861ae 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b93cb', endColorstr='#1861ae',GradientType=1 ); /* IE6-9 */
  @include breakpoint(small only) {
    background: #1b93cb; /* Old browsers */
    background: -moz-linear-gradient(top, #1b93cb 0%, #1b93cb 50%, #1861ae 50%, #1861ae 50%, #1861ae 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1b93cb 0%,#1b93cb 50%,#1861ae 50%,#1861ae 50%,#1861ae 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1b93cb 0%,#1b93cb 50%,#1861ae 50%,#1861ae 50%,#1861ae 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b93cb', endColorstr='#1861ae',GradientType=0 ); /* IE6-9 */
  }
  .grid-container {
    .cell {
      padding-top: rem-calc(50);
      padding-bottom: rem-calc(40);
      @include breakpoint(medium ony) {
        @include xy-gutters(
          $gutters: 50,
          $gutter-type: padding
        );
      }
      @include breakpoint(small ony) {
        @include xy-gutters(
          $gutters: 60,
          $gutter-type: padding
        );
      }
    }
  }
  h3,p {
    color: $white;
  }
  h3 {
    font-size: rem-calc(20);
  }
}

#three-column-grid {
  margin-bottom: rem-calc(50);
  .grid-x {
    .cell {
      padding-top: rem-calc(50);
      padding-bottom: rem-calc(50);
      @include xy-gutters(
        $gutters: 80,
        $gutter-type: padding
      );
      h3, p {
        color: $white;
      }
      h3 {
        margin-bottom: rem-calc(20);
      }
      .learn-more {
        text-transform: uppercase;
        position: relative;
        transition: all ease-in-out 0.5s;
        &:hover, &:focus {
          background: none;
          border: $white solid 2px;
          color: $white;
          padding-right: rem-calc(60);
          transition: all ease-in-out 0.5s;
          &::after {
            position: absolute;
            top: 28%;
            right: 20%;
            font-family: "Font Awesome 5 Free";
            content: "\f061";
            font-size: rem-calc(16); 
            color: $white;
            transition: all ease-in-out 0.5s;
          }
        }
        &:active {
          background: none;
          border: $white solid 2px;
          color: $white;
          padding-right: rem-calc(60);
          transition: all ease-in-out 0.5s;
          &::after {
            position: absolute;
            top: 28%;
            right: 10%;
            font-family: "Font Awesome 5 Free";
            content: "\f061";
            font-size: rem-calc(16); 
            color: $white;
            transition: all ease-in-out 0.5s;
          }
        }
      }
      &:hover {
        background: $primary-color!important;
        transition: all ease-in-out 0.5s;
      }
      &:active {
        background: $grid-active!important;
        transition: all ease-in-out 0.5s;
      }
    }
  }
}

#news-section {
  .grid-container {
    @include xy-gutters(
      $gutters: 80,
      $gutter-type: padding
    );
  }    
  padding: rem-calc(30 0);
  margin-bottom: rem-calc(40);
  h2 {
    margin-bottom: rem-calc(34);
    font-size: rem-calc(30);
  }
  h3 {
    margin-bottom: rem-calc(10);
  }
}

.footerwidget {
  .grid-x {
    .cell {
      @include xy-gutters(
        $gutters: 50,
        $gutter-type: padding
      );
    }
  }
  //background: #f8f8f8;
  padding: rem-calc(25 0);
  margin-top: rem-calc(25);
  hr {
    margin: 0;
  }
  .widget {
    margin-top: rem-calc(30);
  }
  h3 {
    margin-bottom: 0;
    color: $primary-color;
    text-align: center;
    font-size: rem-calc(25);
    font-weight: 600;
  }
  ul {
    text-align: center;
    li {
      list-style: none;
      display: inline-block;
      padding: rem-calc(0 15);
      img {
        margin: 0;
        @include breakpoint(small only) {
          width: 90px;
          padding: 0;
        }
      }
    }
  }
  p {
  }
}

//slick slider styles
.slick-arrow {
  position: absolute;
  top: -68px;
  cursor: pointer;
  &.slick-prev {
    left: 15%;
    @include breakpoint(small only) {
      display: none!important;
    }
  }
  &.slick-next {
    right: 15%;
    @include breakpoint(small only) {
      display: none!important;
    }
  }
}

footer {
  padding: rem-calc(24 0);
  background-color:$primary-color; 
  .copyright {
    p {
      margin-top: rem-calc(8);
      margin-bottom: 0;
      color: $light-gray;
      font-size: rem-calc(12);
    }
  }
}

.navigation {
  width: 100%;
  .wp-paginate {
    text-align: center;
    &.wpp-modern-grey {
      a {
        background: none;
        border: none;
        color: $dark-gray;
        padding: 5px 10px;
      }
    }
  }
}

/* gravity form styles */
.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description,
.gform_wrapper .field_description_below .gfield_description {
  display: none;
}
.gform_wrapper div.validation_error {
  border-top: 2px solid $gform-border;
  border-bottom: 2px solid $gform-border;
  color: #f2761b;
}

.gform_wrapper {
  ul.gform_fields {
    li {
      input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
      textarea, .selectric {
        border: $gform-border solid 2px;
        border-radius: rem-calc(5);
        font-family: Arial, Helvetica, sans-serif;
        font-size: rem-calc(15);
        color: #777777;
        background: none;
        padding: rem-calc(0 15);
        &:focus, &:active {
          border: #76d4f7 solid 2px;
        }
      }
      input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
        height: rem-calc(48);
      }
      .selectric {
        .button {
          background-color: transparent;
          color: $gform-border; 
        }
      }
      textarea {
        padding: rem-calc(15);
      }
      .ginput_container_checkbox {
        .gfield_checkbox {
          li {
            line-height: 31px;
            margin-bottom: rem-calc(35);
            input[type="checkbox"] {
              display:none;
            }
            input[type="checkbox"] + label {
                display:inline-block;
                height:rem-calc(31);
                line-height: rem-calc(31);
                margin: 0 10px 0 0;
                padding-left: rem-calc(40);
                vertical-align:middle;
                background: url(../images/checkbox-normal.png) 0px -1px no-repeat;
                cursor:pointer;
                color: #777777;
            }
            input[type="checkbox"]:hover + label {
              background: url(../images/checkbox-focus.png) 0px 0px no-repeat;
              font-weight: normal;
            }
            input[type="checkbox"]:checked + label {
              background: url(../images/checkbox-selected.png) 0px 0px no-repeat;
              font-weight: normal;
            }
          }
        }
      }
      .ginput_container_radio {
        .gfield_radio {
          li {
            line-height: 31px;
            margin-bottom: rem-calc(35);
            input[type="radio"] {
              display:none;
            }
            input[type="radio"] + label {
                display:inline-block;
                height:rem-calc(31);
                line-height: rem-calc(31);
                margin: 0 10px 0 0;
                padding-left: rem-calc(40);
                vertical-align:middle;
                background: url(../images/radio-normal.jpg) 0px 0px no-repeat;
                cursor:pointer;
                color: #777777;
            }
            input[type="radio"]:hover + label {
              background: url(../images/radio-focus.png) 0px 0px no-repeat;
              font-weight: normal;
            }
            input[type="radio"]:checked + label {
              background: url(../images/radio-selected.png) 0px 0px no-repeat;
              font-weight: normal;
            }
          }
        }
      }
      &.gfield_error {
        background-color: transparent;
        margin-bottom: 6px !important;
        border-top: none;
        border-bottom: none;
        padding-top: 0;
        padding-bottom: 0;
        input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
          position: relative;
          border: $gform-border solid 2px;
          &:focus, &:active {
            border: #76d4f7 solid 2px;
          }
        }
        .ginput_container {
          display: inline;
          position: relative;
            &:before {
              position: absolute;
              top: -4px;
              right: 3%;
              font-family: "Font Awesome 5 Free";
              content: "\f06a";
              font-size: rem-calc(16); 
              color: #f2761b;
            }
        }
      }
    }
  }
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float:right;
  margin: 5px 0 20px 20px;
  @include breakpoint(small only) {
    float: none;
    margin: 0 auto 20px;
    width: 100%;
  }
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
  @include breakpoint(small only) {
    float: none;
    margin: 0 auto 20px;
    width: 100%;
  }
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 13px;
  line-height: 17px;
  margin: 0;
  padding: rem-calc(10 4 5);
  color: $dark-gray;
  text-align: left;
}

/* Text meant only for screen readers. */
.screen-reader-text {
border: 0;
clip: rect(1px, 1px, 1px, 1px);
clip-path: inset(50%);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute !important;
width: 1px;
word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
background-color: #eee;
clip: auto !important;
clip-path: none;
color: #444;
display: block;
font-size: 1em;
height: auto;
left: 5px;
line-height: normal;
padding: 15px 23px 14px;
text-decoration: none;
top: 5px;
width: auto;
z-index: 100000;
/* Above WP toolbar. */
}
